body{
    background-color: #f4f1cd;
}

form{
    font-size: 14px;
    color: #6b121b;
    border: 1px dotted #B8BFCB;
    border-radius: 7px;
    padding: 14px;
    background-color: #d2d6e0;
}

fieldset{
    border: 1px dotted gray;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 0 20px;
}

legend{
    color: gray;
    font-size: 13px;
    margin-bottom: 16px;
}

input{
    background-color: white;
    border-radius: 4px;
    color: #264F96;
    font-size: 16px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    outline: none;
}

button{
    padding: 6px 30px;
    color: white;
    background-color: #2A477A;
    font-size: 14px;
}

button:hover{
    background-color: #5376B2;
}

textarea{
    width: 450px;
    height: 50px;
    max-width: 493px;
    min-width: 300px;
    max-height: 200px;
    min-height: 50px;
    margin-top: 4px;
    border-radius: 4px;
    color: #254F96;
    font-size: 16px;
    padding: 3px;
    padding-left: 10px;

}

form:invalid{
    border-color: #FF7F7F;
    box-shadow: 0px 0px 3px  #FF7F7F;
}

fieldset:invalid{
    border-color: #FF7F7F;
    box-shadow: 0px 0px 3px  #FF7F7F;
}

input:required{
    border-color: #4AA248;
    box-shadow: 0px 0px 3px  #4AA248;
}

input:invalid{
    border-color: #FF7F7F;
    box-shadow: 0px 0px 3px  #FF7F7F;
}