

h1{
    color: red;
}

.trabajador1{
    background-color: gray;
}

.trabajador1 h2{
    color: blue;
    text-align: center;
}

.trabajador2{
    background-color: gray;
}

.trabajador2 h2{
    color: greenyellow;
    text-align: center;
}

.datospersonales{
    border: 2px solid black;
}

.estudios{
    border: 3px double black;
}

span{
    text-decoration: underline;
}